<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="../../../assets/I.png" width="30" height="30" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['contact']">Contacto</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['faq']">FAQ</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">Acerca De&nbsp;&nbsp;</a>
      </li>
      <li><a href="link">
        <img class="hidden-xs" src="../../../assets/Help.png" width="25" height="25" alt="">
        </a>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-secondary mr-2" type="button">Inicia Sesión</button>
      <button class="btn btn-outline-danger" type="button">Registrate</button>
    </form>
  </div>
</nav>
