<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Ancient Music</h1>
  <p class="lead"><i>Preguntas más frecuentes<br><br><br></i></p>
  <div class="container">
    <h5>&nbsp;&nbsp;&nbsp;P: ¿Pregunta1?</h5>
    <p>&nbsp;&nbsp;&nbsp;R: <i>Respuesta1<br><br></i></p>
    <h5>&nbsp;&nbsp;&nbsp;P: ¿Pregunta2?</h5>
    <p>&nbsp;&nbsp;&nbsp;R: <i>Respuesta2<br><br></i></p>
    <h5>&nbsp;&nbsp;&nbsp;P: ¿Pregunta3?</h5>
    <p>&nbsp;&nbsp;&nbsp;R: <i>Respuesta3<br><br></i></p>
    <h5>&nbsp;&nbsp;&nbsp;P: ¿Pregunta4?</h5>
    <p>&nbsp;&nbsp;&nbsp;R: <i>Respuesta4<br><br></i></p>
    <h5>&nbsp;&nbsp;&nbsp;P: ¿Pregunta5?</h5>
    <p>&nbsp;&nbsp;&nbsp;R: <i>Respuesta5<br><br></i></p>
    <h5>&nbsp;&nbsp;&nbsp;P: ¿Pregunta6?</h5>
    <p>&nbsp;&nbsp;&nbsp;R: <i>Respuesta6<br><br></i></p>
    <h5>&nbsp;&nbsp;&nbsp;P: ¿Pregunta7?</h5>
    <p>&nbsp;&nbsp;&nbsp;R: <i>Respuesta7<br><br></i></p>
    <h5>&nbsp;&nbsp;&nbsp;P: ¿Pregunta8?</h5>
    <p>&nbsp;&nbsp;&nbsp;R: <i>Respuesta8<br><br></i></p>
  </div>
</div>

<footer class="page-footer font-small blue pt-4">
  <div class="footer-copyright text-center py-3"> All rigths reserved. AncientMusic Corp. © 2020
  </div>
</footer>

