<nav #navbarC class="navbar navbar-expand-lg fixed-top navbar-transparent mb-5" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" routerLink="home">
                <img src="../../../assets/img/guitarra.svg" width="30" height="30" class="d-inline-block align-top" alt="Ancient logo" loading="lazy"> Ancient Music
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Iniciar sesion</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/615.jpg');">
        <div class="filter"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-md-6 mr-auto ml-auto">
                    <div class="card card-register" style="max-width: 700px;">
                        <h3 class="title">Nuevo registro</h3>
                        <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
                            <label>Nombre</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-user-run"></i>
                                  </span>
                                </div>

                                <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false">
                                <span *ngIf="nombreNoValido" class="text-danger">
                                    Ingrese por lo menos 5 letras
                                </span>
                            </div>

                            <label>Correo</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                <input type="text" formControlName="email" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false">
                                <span *ngIf="correoNoValido" class="text-danger">
                                    Ingrese un correo valido
                                </span>
                            </div>

                            <label>Usuario</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-laptop"></i>
                                  </span>
                                </div>

                                <input type="text" formControlName="usuario" class="form-control" placeholder="Usuario" (focus)="focus=true" (blur)="focus=false">
                                <span *ngIf="usuarioNoValido" class="text-danger">
                                    Ingrese por lo menos 5 caracteres
                                </span>
                            </div>

                            <label>Contraseña</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input type="password" formControlName="pass1" class="form-control" placeholder="Contraseña" (focus)="focus1=true" (blur)="focus1=false">
                                <span *ngIf="pass1NoValido" class="text-danger">
                                    Ingrese al menos 6 caracteres
                                </span>
                            </div>

                            <label>Repite la contraseña</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input type="password" formControlName="pass2" class="form-control" placeholder="Contraseña" (focus)="focus1=true" (blur)="focus1=false">
                                <span *ngIf="pass2NoValido" class="text-danger">
                                    Las contraseñas deben coincidir
                                </span>
                            </div>

                            <button class="btn btn-danger btn-block btn-round">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>