<app-navbar></app-navbar>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-9">
            <h2 class="ml-2">Compra tu musica favorita</h2>
        </div>
        <div class="col-3">
            <span style="right: 5px;">Vota por tu artista favorito de la semana</span>
            <button class="btn btn-block" style="text-align: center;">Votar</button>
        </div>
    </div>
    <hr style="border-color: black;">
    <div class="row">
        <div class="col-4" *ngFor="let product of products">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ product.nombre }}</mat-card-title>
                    <mat-card-subtitle>Tipo: {{ product.tipo }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="product.urlFoto" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Descripción: {{ product.descripcion }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <span class="mr-4">{{ product.precio | currency:'MX' }}</span>
                    <span class="mr-5">Stock: {{ product.inventario }}</span>
                    <button class="btn" mat-button><span style="font-size: 16px; text-align: center;">Comprar</span></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>