/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
.main-container{
  margin-top: 10px;
}
=======

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> 423064f... Version 2.0
