<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Ancient Music</h1>
  <p class="lead"><i>Acerca De...<br><br><br></i></p>
  <div class="container">
    <p><i>"Nuestra página es obviamente un proyecto creado para la materia de Tecnologías Web.<br>
      Es creado por los alumnos Itiel Misael Osorio Rivas y Antonio Cisneros Aviles.<br>
      Definitivamente este fue un muy grande reto para nosotros debido a que<br>
      no es algo a lo que nos dediquemos de tiempo completo, ambos tenemos trabajo<br>
      y a esto se le agrega el tema de las prácticas y la universidad.<br>
      Queremos agradecer esto a todas las personas que nos han alentado<br>
      o animado a no rendirnos. Gracias de corazón."
    </i></p>
  </div>
</div>



<footer class="page-footer font-small blue pt-4">
  <div class="footer-copyright text-center py-3"> All rigths reserved. AncientMusic Corp. © 2020
  </div>
</footer>
