<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3" >Ancient Music</h1>
  <p class="lead"><i>¿Cómo contactarse con nosotros?</i></p>
  <h5><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Siguenos en nuestras redes sociales:<br><br></h5>
  <div class="container" text-align="center">
    <a href="https://www.facebook.com/AncientMusicCorp" target="_blank">
      <img src="../../../assets/fb.png" alt="" width="50" height="50">
      &nbsp;&nbsp;https://www.facebook.com/AncientMusicCorp<br><br>
    </a>
    <a href="https://www.twitter.com/AncientMusicCorp" target="_blank">
      <img src="../../../assets/tw.png" alt="" width="50" height="50">
      &nbsp;&nbsp;https://www.twitter.com/AncientMusicCorp<br><br>
    </a>
    <a href="https://www.instagram.com/AncientMusicCorp" target="_blank">
      <img src="../../../assets/ig.png" alt="" width="50" height="50">
      &nbsp;&nbsp;https://www.instagram.com/AncientMusicCorp<br><br>
    </a>
  </div>
</div>

<footer class="page-footer font-small blue pt-4">
  <div class="footer-copyright text-center py-3"> All rigths reserved. AncientMusic Corp. © 2020
  </div>
</footer>
